.fundo {
    background-image: url("../../img/portfolio.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 577px;
    width: 100%;
  }
  

.fundo h1, p, h2 {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  